.container
    %nav
        .row
            .columns
                %ul.breadcrumbs
                    %li= link_to 'Back', :back
    %main
        .row.page-content
            .medium-12.columns
                %table.logs
                    %thead
                        %tr
                            %th Email
                            %th IP Address
                            %th Logined at
                    %tbody
                        - @listable.each do |item|
                            %tr
                                %td 
                                    %span= item["identity"]
                                %td 
                                    %span= item["ip"]
                                %td 
                                    %span= item["created_at"].in_time_zone("Pacific Time (US & Canada)")
